In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import Row

In [3]:
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()

In [4]:
data = spark.sparkContext.textFile('File:///Users/rosie/Desktop/sparkCourse/fakefriends.csv')

In [8]:
def parseAndMap(data):
    parsedData = data.split(',')
    return Row(ID=int(parsedData[0]), name=str(parsedData[1].encode('utf-8')),age=int(parsedData[2]), numFriends=int(parsedData[3]))

In [9]:
results = data.map(parseAndMap)

In [12]:
schemaPeople = spark.createDataFrame(results).cache()

In [17]:
schemaPeople.createOrReplaceTempView('people')

In [18]:
schemaPeople.show()

+---+-----------+---+----------+
| ID|       name|age|numFriends|
+---+-----------+---+----------+
|  0|    b'Will'| 33|       385|
|  1|b'Jean-Luc'| 26|         2|
|  2|    b'Hugh'| 55|       221|
|  3|  b'Deanna'| 40|       465|
|  4|   b'Quark'| 68|        21|
|  5|  b'Weyoun'| 59|       318|
|  6|  b'Gowron'| 37|       220|
|  7|    b'Will'| 54|       307|
|  8|  b'Jadzia'| 38|       380|
|  9|    b'Hugh'| 27|       181|
| 10|     b'Odo'| 53|       191|
| 11|     b'Ben'| 57|       372|
| 12|   b'Keiko'| 54|       253|
| 13|b'Jean-Luc'| 56|       444|
| 14|    b'Hugh'| 43|        49|
| 15|     b'Rom'| 36|        49|
| 16|  b'Weyoun'| 22|       323|
| 17|     b'Odo'| 35|        13|
| 18|b'Jean-Luc'| 45|       455|
| 19|  b'Geordi'| 60|       246|
+---+-----------+---+----------+
only showing top 20 rows

In [19]:
teenagers = spark.sql(
   "SELECT * FROM people WHERE age >= 13 AND age <= 19" 
)

In [21]:
schemaPeople.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

In [22]:
spark.stop()